body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;;
  background-color: rgb(32, 32, 32);
  overflow: auto;
}

.splash-screen{
  background-color: rgba(42, 36, 138, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.app-splash{
  font-family: "Outfit";
  color: whitesmoke;
  font-weight: bolder;
}


.sub-header{
  color: white;
  font-family: "Outfit";
  font-size: 0.7rem;
}
.iconics{
  color: white !important;

}
.aside-links{
  display:block;
  color: white;
  text-decoration: none; 
  font-family: "Outfit";
  font-size: 0.7rem;
  width: 7rem;
  text-align: center;
}
.parent-aside{
  padding-bottom: 3rem;
  padding-top: 1rem;
}
.aside2-links{
  display:block;
  color: white;
  text-decoration: none; 
  font-family: "Outfit";
}

.home-screen{
  background-color: #F8F8FF;
  height: 100vh;
}
.heading{
  color:#191970;
  text-align: center;
  font-size: 2rem;
  font-family: "Anton";
}
.finance-pics{
  max-width: 30rem;
  max-height: 40rem;
  margin: auto;
  display: flex;
  justify-content:center;
  margin-top: 2rem
}
.fin-pics{
  height: auto;
  min-width: 100%;
}
.started-button{
  margin-top:4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-up{
  background-color: #191970 !important;
}
.form-holder{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh
}
.dashboard-form{
  position: relative;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: auto auto;
}
.form-heading{
  font-size: 0.7rem;
  color: whitesmoke;
}
.select{
  border-radius: 0.6rem;;
}
.rangeSelector{
  width: 6rem;
  border-radius: 0.6rem;
}
.first-row{
  margin-top: 2rem;
}
.balance-parent, .income-parent, .expenses-parent{
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  color: whitesmoke;
}
.balance, .expenses, .income, .savings, .budget{
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Outfit";
}
.active-link{
  background-color: whitesmoke;
  color: rgb(32, 32, 32);
  border-radius: 1rem;
}
.nonactive-link{
  background-color: rgb(32, 32, 32);
  border-radius: 1rem;
  
}
.add-income-parent, .add-budget-parent{
  width: 9rem;
  margin: auto;
}
.save{
  width: 20rem; 
}
.add-income, .add-budget, .add-expenses{
  color: whitesmoke !important;
  margin-top: 1rem !important;
}
.income-form, .budget-form-{
  display: grid;
  grid-template-columns: auto auto;
 
}
.income, .budget{
  font-size: 1rem
}
.amount{
  margin-top: -1.3rem;
}

.fincome, .fbudget{
  margin-top: -0.3rem;
  border-radius: 0.7rem;
  width: 7rem;
}
.select-income{
  width: 6rem;
  border-radius: 0.7rem;
  height: 5vh;
}
.income-date, .budget-date{
  width: 7rem;
  border-radius: 0.7rem;
}
.budget-seprate{
  margin:  -2.1rem 0 0 10rem
}
.save-budget{
  margin-left: 5rem !important;
}
.save-income{
  margin: 1rem 0rem 0rem !important;
}
.income-container, .budget-container{
  display: grid;
  grid-template-columns: auto auto;
}
.td-error{
  color: white !important;
  text-align: center;
  background-color: red !important;
}
.budget-saving-parent{
  background-color: white;
}
.arrow{
  font-size: 3rem;
  text-align: center !important;
  margin-top: -1rem;
}

.parent-steps{
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem;
 
}
.dashboard-parent, .first-row, .budget-fill{
  background-color:rgb(32, 32, 32);
}
.income-expenses-total{
  display: grid;
  grid-template-columns: auto auto;
}
.report-parent{
  margin-top: 3rem;
}
.report-health, .report-recommendation{
  color: white;
}
.print{
  width: 15rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width:359px){
  body{
    visibility: hidden;
  }
}
@media(min-width:423px){
  .sub-header{
    font-size: 1rem;
  }
}
@media(min-width: 576px){
  .after{
    margin-top: 0.5rem !important;
  }
}
@media(min-width:768px){
  .parent-aside-links{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 2.5rem;
  }
  .budget-seprate{
    margin:  -2.1rem 0 0 15rem
  }
  .save-budget{
    margin-left: 10rem !important;
  }
 .iconics{
  display: none !important;
 }
  
  .app-header{
    border-radius: 40px;
    padding:none;
    max-height: 7vh !important;
    margin: 1rem 1rem 0rem;
  }
 .sub-header{
    padding: none;
    margin-top: 0.5rem !important;
    font-size: 0.7rem;
 }
 
 .aside-links{
  font-size: 0.6rem;
  text-align: center;
  width: 5rem;
 }
  .parent-aside{
    padding-right: 1rem;
    
  }
}

@media(min-width:800px){
  .sub-header{
    font-size: 0.9rem;
  }
  .print{
    width: 20rem;
  }
  
}
@media(min-width:830px){
  .iconics{
    display: grid !important;
   }
  .sub-header{
    font-size: 0.6rem;
  }
}
@media(min-width:886px){
  .sub-header{
    font-size: 1rem;
  }
  .parent-cols{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
  }
  .budget-seprate{
    margin:  -2.1rem 0 0 20rem
  }
  .save-budget{
    margin-left: 15rem !important;
  }
  .arrow{
    margin-top: 2rem
  }
}
@media(min-width:994px){
  .aside-links{
    width: 6rem;
    font-size: 0.7rem;
  }
}
@media(min-width:1074px){
  .aside-links{
    width: 7rem;
    font-size: 0.8rem;
  }

  .budget-seprate{
    margin:  -2.1rem 0 0 25rem
  }
  .save-budget{
    margin-left: 20rem !important;
  }
}

@media(min-width:1120px){
  .aside-links{
    width: 10rem;
    font-size: 1rem;
  }
  .avatar{
    margin-top: 0.4rem !important;
  }
  .arrow{
    margin-top: 1rem
  }
  .budget-seprate{
    margin:  -2.1rem 0 0 32rem
  }
  .save-budget{
    margin-left: 27rem !important;
  }
}